@import url("./fonts/fonts.css");

.section-title {
    text-align: center;
    font-family: "GreatVibes";
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    align-items: center;
}

.page {
    max-width: 1600px;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 560px;
}

.content {
    background-color: #fefef5;
    display: flex;
    flex-direction: column;
}

.introduction {
    background-color: #fefef5;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.introduction__names {
    font-family: "GreatVibes";
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

.introduction__text {
    font-family: "GreatVibes";
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.introduction__date {
    font-family: "GreatVibes";
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    align-items: center;
}

.timetable {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin: 20px auto;*/
}

.timetable__items {
    list-style-type: none;
}

.timetable__title {
}

.timetable__item {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 3fr;
    margin-bottom: 55px;
}

.timetable__item_time {
    font-family: "GreatVibes";
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.timetable__item_image {
    width: 70px;
    border-radius: 50%;
    height: 70px;
    object-fit: cover;
    padding: 0 25px;
}

.timetable__item_title {
    font-size: 22px;
}

.timetable__item_subtitle {
    font-size: 16px;
}


.location {
    text-align: center;
}

.location__name {
    font-size: 22px;
}

.location__address {
    font-size: 22px;
    margin-top: 10px;
}

.location__btn {
    font-size: 16px;
    margin: 40px;
    border-radius: 15px;
    color: white;
    background-color: #313030;
    width: fit-content;
    padding: 5px 15px;
    align-self: center;
}

.dress-code {
    text-align: center;
    font-size: 22px;
}

.colors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px auto;
    gap: 7px;
 }

.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
}

.purple {
    background-color: #e7c5e7;
}

.blue {
    background-color: #d7edfa;
}

.beige {
    background-color: beige;
}

.grey {
    background-color: #d3d3d3;
}

.green {
    background-color: #ddf8dd;
}

.wishes {
    font-size: 22px;
}

.wishes__item {
    margin-bottom: 20px;
}

@media only screen and (max-device-width: 320px){
    .colors {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        margin: 10px auto;
        gap: 7px;
    }
}